<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
</head>
<body>
<h1>Our Mission</h1>
  <p>
    Here at Lost Pet Central we strive to help those in the community find the one's we love most. Our furry friends we call family! Lost Pet Central is the new community-based way to find your long lost furry loved one. Members of the community can use this app to show that they have found a pet in a specific location using Angular Google Maps Technology. Our form includes detailed descriptions of each pet that includes Pet Name (if applicable), species, breed, description, location pet was found and a spot to leave a url of a picture of the lost pet. Further more we also ask that you leave your contact info in the same form such as First name, Last name, E-mail address, and phone number. We ask you to provide this so that if the rightful owner identifies their pet they can contact you about next steps! We sure do hope that this app helps you find your furry bundle of joy that much faster!
  </p>

</body>
</html>
